.main-login {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url('../../assets/login_img.svg');
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

.login-form-box {
    width: 100%;
}

.login-svg-box {
    width: 100%;
    height: 100%;
    
  
}

@media only screen and (max-width: 768px) {
    .main-login {
        background-image: url('../../assets/login_img_responsive.svg');
        background-position: bottom left;
        background-size: 70%;
    }
    
    .login-svg-box {
        width: 0px;
        height: 0px;
    }
}
